


.main  {
    border: 5px solid black;
    height: 500px;
    /*width:500px;*/
    display: flexbox;
    justify-content: space-around;
    align-items: center;
}
.container {
    display: flexbox;
}

a {
    display: inline-block;
}